<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClearSession</title>
</head>
<body>
    <div>

        @{
            ViewBag.Title = "Session Cleared";
        }

        <h2>@ViewBag.Title</h2>
        <p>The session variable has been cleared.</p>
    </div>
</body>
</html>
