
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetSession</title>
</head>
<body>
    <div>
        @{
            ViewBag.Title = "Session Status";
        }
        <h2>@ViewBag.Title</h2>
        <p>@TempData["Status"]</p>
    </div>
</body>
</html>
